@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: ; */
}

body {
  background-image: url("../public/backdrop-temp.png");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.container {
  width: 90vw;
  height: 90vh;
  background: linear-gradient(#242424b0, #121212b0);
  backdrop-filter: blur(20px);
  border-radius: 14px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  display: flex;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
